
.center {
    text-align: center;
}

.numbers {
    font-size: 4em;
    font-weight: 300;
}

.countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn {
    margin: 0px 2px;
    padding: 0px 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    color: #333;
    font-size: 1em;
    cursor: pointer;
}

.btn:hover {
    background-color: #f5f5f5;
}

.btn:disabled {
    color: #999;
}

.btn-play {
    margin: 5px;
    padding: 10px 70px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #ccff66;
    color: #333;
    font-size: 0.7em;
    cursor: pointer;
}

.btn-play:hover {
    background-color: #ccff66dd;
    color: #444;
}

.btn-pause {
    margin: 5px;
    padding: 10px 70px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: rgb(255, 237, 136);
    color: #333;
    font-size: 0.7em;
    cursor: pointer;
}

.btn-pause:hover {
    background-color: rgba(255, 237, 136, 0.9);
    color: #444;
}

.btn-reset {
    margin: 5px;
    padding: 10px 60px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #f4982b;
    color: #333;
    font-size: 0.7em;
    cursor: pointer;
}

.btn-reset:hover {
    background-color: #f4982bdd;
    color: #444;
}

.play-sound span {
    font-size: 16px;
    border-bottom: solid 2px #2F4B2699;
    padding: 1px 17px 2px 7px;
    border-radius: 20px;
    background-color: #C7EFCF;
    color: #2F4B26bb;
}

.separator {
    margin: 15px 10px;
}